h1{
    text-align: center;
    color: white;
}
.container{
    background-color: gainsboro;
    padding: 20px;
    border: 3px solid black!important;
    border-radius: 20px;
}

body{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/IoT-Farming.jpg);
    background-size: cover;
}